// Colors
$black: #000000
$white: #FFFFFF

// Fonts families
$font-default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

// Fonts weights
$weight-regular: 400
